<!doctype html>
<html lang="eo">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>{{#block "title"}}{{/block}}</title>
        {{#block "imports"}}{{/block}}
    </head>
    <body {{#block "body-attr"}}{{/block}}>
        {{{body}}}
    </body>
</html>
