{{#partial "title"}}
    Eraro
{{/partial}}
{{#partial "imports"}}
    <link rel="stylesheet" href="/dist/index.css" />
{{/partial}}

<div class="error-page">
    <h1>{{locale.errors.title}}</h1>

    {{errorText}}
</div>

